@import '../../../../../styles/mixin.scss';

@import '../../../../../styles/variables.scss';

$element-size: 300px;
$margin: 20px;
$padding: $margin;

.game-window {
  width: 100%;

  &__header {
    min-width: ($element-size * 2 + $margin);
    margin: 0 auto;
    font-size: 3.5rem;

    @include flex(row, center, space-around);

    &__score,
    &__round-points {
      width: $element-size;
      white-space: nowrap;
    }

    &__round-points {

      .progress {
        width: ($element-size - $margin * 2.5);
      }
    }
  }

  &__body {

    @include flex(row); 

    &__round-info {
      width: 50%;
      margin: ($margin * 2.5) $margin ($margin * 2.5) ($margin * 5);
      padding: $padding;
      font-size: 4.0rem;
      line-height: 2.0em;
      text-align: center;
      border-radius: $container-border-radius;
      box-shadow: $container-box-shadow-inset;   
    }
  }

  &__footer {
    position: relative;
    width: ($element-size + $margin);
    margin: 0 auto;
    font-size: 4.0rem;

    &::after {
      position: absolute;
      bottom: -65%;
      left: calc(50% - 70px);
      width: max-content;
      font-size: 2rem;
      opacity: 0.4;
      content: 'Press for answer';
    }
    

    @include flex(row, stretch, space-between);

    .button {
      position: relative;
      width: ($element-size / 2);
      line-height: 1;

      @include flex(row, stretch, center);

      &:hover {
        color: $hover-color;
      }

      &--check {
        color: $main-color;
      }

      &::after {
        position: absolute;
        bottom: -65%;
        font-size: 2.5rem;
        opacity: 0.4;
      }

      &:first-child {
        background-color: rgb(0, 128, 0);
        
        &::after {
          left: 43%;
          content: 'Y';
        }
      }

      &:last-child {
        background-color: rgb(139, 0, 0);

        &::after {
          left: 46%;
          content: 'N';
        }
      }
    }
  }
}

@media (max-width: 767px) {

  .game-window {

    &__header {
      justify-content: center;
      min-width: $element-size;

      &__score {
        line-height: 1.5;
      }
    }

    *::after,
    *::before {
      content: '' !important;
    }
  }
}

@media (max-width: 639px) {

  .game-window {

    &__header {
      flex-direction: column;
      justify-content: center;
      min-width: $element-size;
      margin-bottom: $margin;

      &__score {
        line-height: 1.5;
      }
    }

    &__body {
      flex-direction: column;

      &__round-info {
        order: 2;
        min-width: $element-size;
        margin: $margin auto;
      }

      .react-countdown-clock {
        order: 1;
      }
    }

    &__footer { 
      justify-content: space-evenly;
      width: $element-size;

      .button {
        width: ($element-size / 2 - $margin / 2);
      }
    }
  }
}
