@import '../../styles/mixin.scss';

@import '../../styles/variables.scss';

$box-shadow: 5px 5px 15px $box-shadow-first-color, -5px -5px 15px $box-shadow-second-color;

.dropdown {
    position: relative;
    width: 275px;
    margin: 5px 10px;
    font-weight: 800;
    color: $main-color;

    &__title {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 20px 40px;
      color: $main-color;
      background-color: $background-color;
      border: none;
      border-radius: 125px;
      box-shadow: $box-shadow;
      outline: none;
  
      &:hover {
          color: $hover-color;
      }
    }

    &__content {
      position: absolute;
      z-index: 10;
      display: flex;
      flex-direction: column;
      margin-top: calc(-100%);
      padding: 20px 20px 40px;
      overflow: hidden;
      background-color: $background-color;
      border-radius: $container-border-radius;
      box-shadow: $box-shadow;
      transition: margin-top 1s linear;

      @include size (100%, 30px);

      &--open {
        height: auto;
        margin-top: 10px;
      }
    }

    &__item {
      width: 100%;
      margin-top: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid rgba(255,255,255,0.5);
      cursor: pointer;

      &-text {
        margin-left: 20px;
      }
  
      &:hover {
        color: $hover-color;
      }
    }
  }
