@import '../../styles/variables.scss';

.statistic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &__left-arrow,
  &__right-arrow {
    cursor: pointer;

    &:hover {
      color: $hover-color;
    }
  }

  &__left-arrow {
    order: -1;
  }
}