$opacity-inactive: 0.25;
$opacity-active: 1;

// input
$element-height: 70px;
$element-width: 100%;
$element-padding: 20px 20px 20px 60px;
$element-border-radius: 24px;

$element-font-size: 22px;

$element-color-text: #687891;
$element-color-background: #EEEEEE;

$shadow-first-setup: inset 6px 6px 18px;
$shadow-first-color: rgba(136, 160, 183, 0.25);
$shadow-second-setup: inset -6px -6px 18px;
$shadow-second-color: rgba(255, 255, 255, 0.5);
$shadow-valid-color: rgb(82, 247, 6);
$shadow-invalid-color: rgb(247, 6, 6);

$element-hover-color: rgba(#EEEEEE, 0.5);
$transition-duration: 0.5s;

// label
$label-margin: 0 0 10px 25px;
$label-font-size: 0.8em;

// icon
$icon-height: 25px;
$icon-width: 25px;
$icon-position-left: 25px;

@mixin font ($size, $height, $weight, $style: normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}

.input__container {
  position: relative;

  display: flex;
  flex-direction: column;

  font: inherit;
  color: $element-color-text;

  @include font ($size: #{$element-font-size}, $height: 1, $weight: 500);
}

.input {
  order: 2;

  width: $element-width;
  height: $element-height;
  padding: $element-padding;

  border: none;
  border-radius: $element-border-radius;
  box-shadow: $shadow-first-setup $shadow-first-color, $shadow-second-setup $shadow-second-color;
  background-color: $element-color-background;

  transition: background-color $transition-duration;

  &::-ms-input-placeholder {
    color: $element-color-text;
    opacity: $opacity-inactive;
  }

  &::placeholder {
    color: $element-color-text;
    opacity: $opacity-inactive;
  }

  &:hover {
    background-color: $element-hover-color;
  }

  &:focus {
    outline: none;
  }
  
  &:required:focus:not(:placeholder-shown):valid {
    box-shadow: $shadow-first-setup $shadow-valid-color, $shadow-second-setup $shadow-second-color;
  }

  &:required:focus:not(:placeholder-shown):invalid {
    box-shadow: $shadow-first-setup $shadow-invalid-color, $shadow-second-setup $shadow-second-color;
  }
}

.input__label {
  order: 1;

  margin: $label-margin;
  font-size: $label-font-size;

  color: inherit;

  opacity: $opacity-inactive;

  user-select: none;

  cursor: pointer;
}

.input__icon {
  order: 3;

  position: absolute;
  left: $icon-position-left;
  bottom: calc(#{$element-height} * 0.5 - #{$icon-height} * 0.5);

  display: block;
  width: $icon-width;
  height: $icon-height;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  opacity: $opacity-inactive;

  user-select: none;
  pointer-events: none;
}

.input:focus ~ .input__icon,
.input:focus ~ .input__label {
  opacity: $opacity-active;
}
