.vertical.menu {
    flex: 0 100px;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
}

.logo-wrapper img {
    width: 50px;
}

.login {
    display: flex;
    justify-content: center;
}
