@import '../../../styles/mixin.scss';

@import '../../../styles/variables.scss';

.spinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  @include flex(row);

  background-color: transparent;

  border-radius: inherit;

  pointer-events: none;
}

.donut {

  @include size(3.2rem);

  border: 0.5rem solid rgba($enabled-color, 0.1);
  border-top-color: $enabled-color;
  border-radius: 50%;

  animation: spin 1.5s infinite linear;
}

@keyframes spin {

  to {
    transform: rotate(360deg);
  }
}
