@import '../../styles/mixin.scss';

@import '../../styles/variables.scss';

$padding: 40px;

.tabs {
  font-family: inherit;
  background-color: $background-color;

  &__tab-content {
    position: relative;
    z-index: 1;
    min-height: 150px;
    padding: $padding;
    color: $main-color;
    background-color: $background-color;
    border-radius: $container-border-radius;
    box-shadow: $container-box-shadow;
  }

  &__tab-list {
    z-index: 0;
    margin: 0;
    padding-left: 0;

    &__tab-list-item {
      position: relative;
      display: inline-block;
      margin: 0 2rem;
      background-color: $background-color;
      border-radius: $container-border-radius $container-border-radius 0px 0px;
      box-shadow: $container-box-shadow;
      list-style: none;

      @include size(170px, 40px);

      button {
        padding: 0.5rem 0.75rem;
        font-size: 2.4rem;
        font-family: inherit;
        color: $main-color;
        background-color: transparent;
        border: none;
        border-radius: $container-border-radius $container-border-radius 0px 0px;
        outline: none;
        cursor: pointer;

        @include size(100%);
      }

      button:hover {
        color: $hover-color;
      }

      &--active {
        z-index: 2;
        background-color: $background-color;
        border-radius: $container-border-radius $container-border-radius 0px 0px;
        box-shadow: -6px -6px 18px $box-shadow-second-color;
        border-width: 1px 1px 0 1px;

        button {
          color: $enabled-color;
        }

        button:hover {
          color: $hover-color;
        }
      }
    }
  }
}
