@import '../../styles/mixin.scss';

@import '../../styles/variables.scss';

$padding: 20px;

.tabs {
  z-index: 2;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;

  &__tab-content {
    position: relative;
    z-index: 1;
    min-height: 150px;
    color: $main-color;
    background-color: $background-color;
    border-radius: $container-border-radius;
    box-shadow: $container-box-shadow;

    .tab-content {
      padding: 0 ($padding * 2) $padding;  
    }

    .row__item {

      &:not(:last-child) {
        width: 30%;
        overflow-wrap: break-word;
      }

      &:last-child {
        width: 10%;
      }
    }
  }

  &__tab-list {
    z-index: 0;
    margin: 0;
    padding-left: ($padding * 0.5);

    &__tab-list-item {
      position: relative;
      display: inline-block;
      margin: 0 2rem;
      background-color: $background-color;
      border-radius: $container-border-radius $container-border-radius 0px 0px;
      box-shadow: $container-box-shadow;
      list-style: none;

      @include size(170px, 40px);

      button {
        padding: 0.5rem 0.75rem;
        font-size: 2.4rem;
        font-family: inherit;
        color: $main-color;
        background-color: transparent;
        border: none;
        border-radius: $container-border-radius $container-border-radius 0px 0px;
        outline: none;
        cursor: pointer;

        @include size(100%);
      }

      button:hover {
        color: $hover-color;
      }

      &--active {
        z-index: 2;
        background-color: $background-color;
        border-radius: $container-border-radius $container-border-radius 0px 0px;
        box-shadow: -6px -6px 18px $box-shadow-second-color;
        border-width: 1px 1px 0 1px;

        button {
          color: $enabled-color;
        }

        button:hover {
          color: $hover-color;
        }
      }
    }
  }
}

@media (max-width: 991px) {

  .tabs {

    .tab-content {
      padding: 0 $padding $padding;
    }

    &__tab-list__tab-list-item {
      width: 140px;
    }
  }
}

@media (max-width: 767px) {

  .tabs__tab {

    &-list__tab-list-item {
      width: max-content;
      margin: 0 1rem;
      padding: 0 ($padding * 0.25);
      
      button {
        font-size: 2rem;
      }
    }

    &-content {
      overflow-x: auto;
      
      tbody,
      .tab-content__header {
        min-width: 350px;
      }
    }
  }
}
