@import '../../../../styles/variables.scss';

.card-radio-button {
  height: 100%;
  padding: 5px 10px;
  font-size: 2rem;
  line-height: 1;
  font-family: inherit;
  text-align: center;
  color: $enabled-color;
  background: $background-color;
  border: none;
  border-radius: 125px;
  outline: none;

  &--checked {
    box-shadow: $container-box-shadow-inset;
  }
}

.card-radio-button + .card-radio-button {
  margin-left: 5px;
}
