@import '../../../../styles/mixin.scss';

@import '../../../../styles/variables.scss';

@mixin media-hover {

  @media (pointer: fine) { @content; }
}

$padding: 0.5rem 1rem;
$border-radius: 10rem;
$box-shadow-inset: inset 5px 5px 15px $box-shadow-first-color, 
                  inset -5px -5px 15px $box-shadow-second-color;
$hard-color: #f00;
$normal-color: #ff0;
$easy-color: #0f0;

.card-unit {

  .card-radio-button {
    height: 100%;
    padding: $padding;

    @include flex(row);

    @include font(0.7em, 1, 500);

    font-family: inherit;
    text-align: center;
    color: $main-color;

    background-color: $background-color;

    border: none;
    border-radius: $border-radius;

    outline: none;

    transition: color 0.3s linear, box-shadow 0.3s linear;

    cursor: pointer;

    &--checked {
      box-shadow: $box-shadow-inset;
      transition: none;
      cursor: unset;
    }

    @include media-hover {

      &:hover {
        color: $hover-color;
      }

      &--checked:hover {
        color: $main-color;
      }
    }

    @media (max-width: 767px) {
      width: 3rem;
    }

    svg {
      pointer-events: none;
    }
  }

  #hard.card-radio-button {

    .svg-icon {
      fill: $hard-color;
    }
  }

  #normal.card-radio-button {

    .svg-icon {
      fill: $normal-color;
    }
  }

  #easy.card-radio-button {

    .svg-icon {
      fill: $easy-color;
    }
  }

  .card-radio-button + .card-radio-button {
    margin-left: 0.5rem;

    @media (max-width: 767px) {
      margin-left: 0;
    }
  }

  .radio-button__label {
    pointer-events: none;

    @media (max-width: 767px) {
      display: none;
    }
  }
}
