@import '../../styles/mixin.scss';

$margin: 5px;

.greeting-wrapper {
	z-index: 2;
	width: 100%;
	margin-bottom: 50px;

	@include flex(row, center, space-around);
}

@media (max-width: 991px) {

	.greeting-wrapper {
		.container-with-shadow {

			&:first-child {
				width: 40% !important;
			}
	
			&:last-child {
				width: 50% !important;
			}
		}
  }
}

@media (max-width: 767px) {

  .greeting-wrapper {
		flex-wrap: wrap;
		margin-bottom: ($margin * 8);
		
		.container-with-shadow {
			min-width: 300px;
			height: 120px !important;
			margin: ($margin * 2) $margin;
		}
  }
}
