.greeting-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 50px;
}


.app-container {
	display: flex;
	justify-content: space-around;
	width: 100%;
	max-width: 1200px;
}