@import '../../../styles/mixin.scss';

@import '../../../styles/variables.scss';

.tab-content {
    width: 100%;
  
    @include flex(column, stretch);
  
    &__header {
      padding-bottom: 5px;
      border-bottom : 1px solid $main-color;

      .tab-content__row {
        &::before {
          content: unset;
        }
      }
    }

    
  &__row {
    position: relative;
    @include flex(row, stretch, space-between);

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: -10px;
      width: calc(100% + 20px);
      height: 100%;
      border-radius: 6px;
    }

    &:hover::before {
      background-color: #36747b;
      box-shadow: inset 0 0 10px #25cede,
    }

    &__item {
      width      : 25%;
      padding    : 10px 0;
      color      : $main-color;

      @include flex(row, center, flex-start);
      @include font(1.8rem, 1.2em, 400);

      &--crash {
        cursor: pointer;
        &:hover, &:hover::before {
          color: black;
          opacity: 0.5;
        }
      }
    }

    &__item:last-child {
      justify-content: flex-end;
    }
  }
}

@media screen and (max-width: 600px) {
  .tab-content {
    &__row:first-child {
      margin-top: 10px;
    }

    &__row {
      flex-direction: column;
      &::before {
        content: unset;
      }
      &__item {
        width: 100%;
        padding    : 4px 0;
        justify-content: center;

        
        &--crash {
          &:hover, &:hover::before {
            color: $enabled-color;
            opacity: 1;
          }
          i.icon {
            width: unset;
            height: unset;
          }
        }

        &:last-child {
          justify-content: center;
          padding-bottom: 4px;
        }
        
        &::before {
          color: darken(#ffffff, 30)
        }

        &:first-child::before {
          content: 'Word:\00a0';
        }

        &:nth-child(2)::before {
          content: 'Transcript:\00a0';
        }

        &:nth-child(3)::before {
          content: 'Translation:\00a0';
        }

        &:nth-child(4)::before {
          content: 'Remove\00a0';
        }
      }
    }

    &__row:nth-child(2n+1) {
      background-color: #36747b;
      border-radius: 10px;
    }

    &__header {
      display: none;
    }
  }
}







