@import '../../../styles/mixin.scss';

@import '../../../styles/variables.scss';

.tab-content {
  width: 100%;

  @include flex(column, stretch);

  &__header {
    padding-bottom: 5px;
    border-bottom : 1px solid $main-color;
  }
}

.row {

  @include flex(row, stretch, space-between);

  &__item {
    width      : 25%;
    margin-top : 20px;
    text-align : left;
    color      : $main-color;

    @include font(1.8rem, 1.2em, 400)
  }

  &__item:last-child {
    text-align: right;
  }

  &__crash-icon {
    cursor: pointer;

    &:hover {
      color: $enabled-color; 
      opacity: 0.5;
    }
  }
}







