@import '../../../styles/mixin.scss';

@import '../../../styles/variables.scss';

.tab-content {
  width: 100%;

  @include flex(column, stretch);

  &__header {
    padding-bottom: 5px;
    border-bottom : 1px solid $main-color;
  }
}

.row {

  @include flex(row, stretch, space-between);

  &:hover {
    & .row__item {
      & .tooltip {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__item {
    position: relative;
    width      : 25%;
    margin-top : 20px;
    text-align : left;
    color      : $main-color;

    @include font(1.8rem, 1.2em, 400)
  }

  &__item:last-child {
    text-align: right;
  }

  
  &__item .tooltip {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 0;
    margin-left: -10px;
    opacity: 0;
    transition: opacity 0.3s;

  }

  &__item .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  &__crash-icon {
    cursor: pointer;

    &:hover {
      color: $enabled-color; 
      opacity: 0.5;
    }
  }
}







