@import '../../styles/mixin.scss';

.continue-training-block {
  width: 100%;
  user-select: none;

  @include flex(row, center, space-around);

  &__item {
    width: 240px;
    font-size: 1.5rem;
    line-height: 1.15em;
    text-align: center;

    h3 {
      font-size: 2.4rem;
      line-height: 1.6em;
    }

    p {
      margin-bottom: 15px;
    }

    .button {
      width: 100%;

      @include flex(row, center, center);
    }
  }
}
