@import '../../styles/mixin.scss';

@import '../../styles/variables.scss';

.games-header {
  height: 20vh;
  color: $main-color !important;

  @include flex(row);
}

.games-cards .container-with-shadow {
  padding: 10px !important;

  @include flex(column, stretch, space-evenly);
}

.games-cards .container-with-shadow img {
    width: 90%;
    border-radius: 20px;
}

.games-card__header {
    color: $main-color !important;
}

.games-wrapper {
    width: 100%;
}
