@import '../../styles/mixin.scss';

@import '../../styles/variables.scss';

$margin: 10px;
$padding: $margin;

.games {
  &-wrapper {
    width: 100%;
  }

  &-header {
    height: 10vh;
    color: $main-color !important;
  
    @include flex(row);

    .content {
      font-size: 3rem;
    }
  }

  &-cards {
    width: 100%;
    flex-wrap: wrap;

    @include flex(row, center, space-around);

    .column {
      width: 45%;
      margin: $margin;
      z-index: 2;
      min-width: 300px;
    }

    .container-with-shadow {
      padding: $padding !important;
    
      @include flex(column, center, space-around);

      img {
        border-radius: 0 0 15px 15px;
      }
    }
  }

  &-card__header {
    color: $main-color !important;

    .content {
      font-size: 2rem;
    }
  }
}

@media (max-width: 991px) {
  .games-cards .column {
    width: 75%;
  }
}
