.savanna-gamepage {
    flex-direction: column;
}

.savanna-gamepanel {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 24px;
}

.gamepanel-hitpoint {
    flex: 0 200px;
}

.savanna-gamepanel i {
    cursor: pointer;
}

.savanna-main {
    position: relative;
    display: flex;
    height: 50vh;
    font-size: 24px;
    overflow: hidden;
}

.savanna-startpage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
}

.savanna-gamelevel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.savanna-start {
    display: flex !important;
    justify-content: center;
    width: 275px;
    margin-top: 40px;
    padding: 35px !important;
}

.savanna-level {
    margin: 40px;
}

.savanna-gameword {
    position: relative;
    width: 100%;
    text-align: center;
}

.savanna-wordpanel {
    position: absolute;
    top: 200px;
    left: 25%;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.savanna-wordpanel .word {
    padding: 5px;
    border: 1px solid white;
    cursor: pointer;
}

.savanna-resultpage {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center;
     width: 100%;
     height: 50vh;
}

.user-result:first-child div {
    margin-bottom: 20px;
}

