.savanna-gamepage {
    flex-direction: column;
}

.savanna-gamepanel {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 24px;
}

.gamepanel-hitpoint {
    flex: 0 200px;
}

.savanna-gamepanel i {
    cursor: pointer;
}

.savanna-main {
    position: relative;
    display: flex;
    height: 50vh;
    font-size: 24px;
    /*overflow: hidden;*/
}

.savanna-gameword {
    position: relative;
    width: 100%;
    text-align: center;
}

.savanna-wordpanel {
    position: absolute;
    top: 200px;
    left: 25%;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.savanna-wordpanel .word {
    padding: 5px;
    border: 1px solid white;
    cursor: pointer;
}

.savanna-resultpage {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center;
     width: 100%;
     height: 20vh;
}