.speakIt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.startScreen .container-with-shadow {
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh !important;
}

.speakIt-progressbar {
    width: 50%;
}

.speakIt-image__wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 360px;
    margin-top: 30px;
}

.RSPBstep {
    user-select: none;
    cursor: pointer;
}

.speakIt-image__wrapper p {
    margin: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.speakIt-image__wrapper img {
    width: 500px !important;
}

#speakit-start-btn {
    height: 50px;
}

.speakIt .step {
    margin-right: 5px !important;
}

.speakIt .step:after {
    display:none !important;
}

.speakIt-items {
	display: flex;
	flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
	margin: 20px auto;
}

.speakIt-items .container-with-shadow {
    height: 50px !important;
    margin: 10px !important;
    padding: 10px !important;
}

.speakIt-items .container-with-shadow.active {
   background-color:#b67932;
}

.speakIt .item {
    display: grid; 
    grid-template-columns: repeat(3, 6rem);
}

.results-container .result-item {
    display: grid;
    grid-template-columns: repeat(3, 135px);
    padding: 7px 0;
    border-bottom: 1px solid #5e5c5c;
}

.speakIt .item-icon {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:#fff;
}

.speakIt .item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
    color: #fff;
}

.speakIt-panel {
    display: flex;
    width: 60%;
    margin: 20px auto;
}

.speakIt-panel button {
	justify-content: center;
}

.speakIt button:first-child {
    flex: 1 25%;
    margin-right: 20px;
}

.speakIt button+button {
    flex: 2 50%;
    margin-right: 20px;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
}

.input-wrapper input {
    font-size: 20px;
    text-align: center;
    color: white;
    background: #2c2f33;
    border: none;
    border-bottom: 1px solid #c8c8c8;
}


.speakIt-result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speakIt-result .speakIt-progressbar {
    margin: 30px auto;
}


.visible {
    display: flex;
}

.invisible {
    display: none !important;
}

.container-with-shadow.success {
    background: greenyellow !important;
}

.container-with-shadow.resultpage {
    display: flex;
    flex-direction: column;
}

.resultpage {
    width: 110%;
}

.results-errors {
    text-align: center;
}

.results-right {
    text-align: center;
}

.result-button__wrapper {
    display: flex;
    margin: 10px;
}

#speakit-again-btn {
    margin-right: 20px;
}

.result-item {
    cursor: pointer;
}

.result-item:hover {
    background-color: #21ba45;
}

.result-item .item-icon {
    margin-left: 70px;
}
