.speakIt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.speakIt-progressbar {
    width: 50%;
}

.speakIt-image__wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin-top: 30px;
}

.speakIt-image__wrapper p {
    margin: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.speakIt-image__wrapper img {
    width: 500px !important;
}

.speakIt .step {
    margin-right: 5px !important;
}

.speakIt .step:after {
    display:none !important;
}

.speakIt-items {
    display: flex;
}

.speakIt .item {
    display: grid; 
    grid-template-columns: repeat(2, 5rem);
    width: 33%;
    min-height: 50px;
    border: 1px solid #fff;
    margin: 5px;
}

.speakIt .item-icon {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:#fff;
}

.speakIt .item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
    color: #fff;
}

.speakIt-panel {
    display: flex;
    width: 60%;
    margin-top: 20px;
}

.speakIt button:first-child {
    flex: 1 25%
}

.speakIt button+button {
    flex: 2 50%
}

.speakIt button:last-child {
    flex: 3 25%
}
