.ui.modal.transition.visible.active{
  background-color: rgb(255, 255, 255, 0);
  border-radius: 25px;
  animation: modal 5s ease-in-out infinite;
}

@keyframes modal {
    0% {
      box-shadow: 0px 0px 10px 6px #3b4451;
    }
    25% {
      box-shadow: 0px 0px 10px 1px #25CEDE;
    }
    50% {
      box-shadow: 0px 0px 10px 6px #3b4451;
    }
    75% {
      box-shadow: 0px 0px 10px 1px #25CEDE;
    }
    100% {
      box-shadow: 0px 0px 10px 6px #3b4451;
    }
}

i.icon.close{
  transition: 0.4s;
}

i.icon.close:hover{
  border-radius: 50%;
  box-shadow: 0px 0px 10px -1px #25CEDE inset;
  transition: 0.4s;
}

i.icon.close::before {
    content: "❌" !important;
}

.ui.modal.transition.visible.active .ui.header,
.ui.modal.transition.visible.active .content,
.ui.modal.transition.visible.active .actions{  
  background-color: #2c2f33;
  border: none;
}

.ui.modal.transition.visible.active .ui.header{
  text-align: center;
  font-size: 1.8rem;
  color: inherit;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.ui.modal.transition.visible.active .content {
  text-align: center;
  text-indent: 1.5em;
  font-size: 1.7rem;
  font-weight: 400;
}

.ui.modal.transition.visible.active .actions{
  display: flex;
  justify-content: center;
  padding: 15px;  
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  .button.card-button{
    margin: 10px 30px;
    font-size: 1.6rem;
  }
}