@import '../../../styles/mixin.scss';

@import '../../../styles/variables.scss';

.vertical.menu {
  position: sticky;
  top: 0;
	background-color: $background-color;
		
	@include flex(row, center, center);

	@include size(200px, 100vh);
}

.logo-wrapper {
	flex: 1 80px;
	height: 90px;
	
	@include flex(row, center, center);

	img {
    width: 50px;
	}
}

.app-link {
	flex: 2 60%;
	width: 95%;
	font-size: 1.6rem;
}

.login {
  flex: 4
}

.ui.vertical.menu.app-menu {
	display: flex !important;
  height: 90%;
	font-family: inherit;
  background-color: $background-color;
  border-radius: $container-border-radius;
	box-shadow: $container-box-shadow;
	transition: all .5s ease-in-out;
}

.app-menu.min {
	width: 50% !important;
}

.app-menu.max {
	width: 90% !important;
}

.app-menu a.item {
  display: flex !important;
  flex-direction: unset !important;
  justify-content: space-between;
  align-items: center !important;
	color: $main-color !important;
	
	&[name="login"] {
		font-size:1.6rem;
	}
}

.app-menu a.item:hover {
	color:$hover-color !important;
}

.app-menu a.item.active {
	color:$hover-color !important;
}

.app-menu a.item .icon {
	flex: 0 50px;
}

.app-menu a.item p {
	flex: 1;
	text-align: left;
	transition: opacity .4s ease-in-out;
}

.app-menu a.item  p.visible {
	opacity: 1;
}

.app-menu a.item  p.invisible {
	opacity: 0;
}

.app-menu__resize {
	flex: 3 30px;
	width: 100%;
	font-size: 2.4rem;
	color: $main-color;
	font-weight: 500;
	font-variant: all-small-caps;
}

.app-menu__resize-wrapper {
	box-shadow: $container-box-shadow;
}

.app-menu__resize .item {
	min-width: 100% !important;
}

.app-menu .login {
	flex: 4;
}
