$main-font-size: 16px;

@mixin flex($flex-direction, $align-item: center, $justify-content: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-item;
}

.greeting {

  @include flex(row, center, space-around);
  width: 100%;
  cursor: default;
  user-select: none;

  .greeting__text {
    font-size: $main-font-size;
    line-height: 1.5em;

    h1 {
      margin: 0;
      font-size: ($main-font-size * 2.25);
    }
  }
}
