@import '../../styles/mixin.scss';

.greeting {
  width: 100%;
  user-select: none;

  @include flex(row, center, space-around);

  .greeting__text {
    font-size: 1.6rem;
    line-height: 1.5em;

    h1 {
      font-size: 3.6rem;
    }
  }
}
