@import '../../styles/mixin.scss';

@import '../../styles/variables.scss';

$element-size: 30px;
$transition-duration: 0.2s;
$border-radius: 40%;

.checkbox {
  position: relative;  
  color: $enabled-color;
  background-color: $background-color;
  border-radius: $border-radius;
  box-shadow: $container-box-shadow;
  outline: none;
  transition: box-shadow $transition-duration, color $transition-duration;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @include size($element-size);

  &:checked {

    &::after {
      position: absolute;
      top: 5%;
      left: 27%;
      font-size: ($element-size * 0.8);
      line-height: 1;
      transform: rotate(130deg);
      content: '\00AC';
      font-weight: bold;
    }
  }

  &:active {
    box-shadow: none;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      border-radius: $border-radius;
      box-shadow: inset 4px 4px 6px $box-shadow-first-color, inset -6px -6px 6px $box-shadow-second-color;
      transition: box-shadow $transition-duration $transition-duration;
      content: '';    

      @include size(100%);
    }
  }

  &:hover {
    color: $hover-color;
  }
}
