@import '../../../../../styles/mixin.scss';

@import '../../../../../styles/variables.scss';

.game-start-window {
  font-size: 3.0rem;

  @include flex(column);

  &__title {
    font-size: 3.6rem;
    text-align: center;
    font-weight: 800;
  }

  .radio-button {
    margin: 0;

    &:hover {
      opacity: 0.7;
      cursor: pointer;    
    }

    &-container {
      flex-wrap: wrap;
      margin: 40px 0 80px 0;  
      
      @include flex(row, stretch);
    }
  }

  .button {
    width: 130px;
  }

  .button[disabled] {
    color: inherit;
    opacity: 0.3;
    cursor: no-drop;
  }
}
