$font-size-big: 32px;
$font-size-main: 24px;
$font-size-small: 16px;

$font-color: #fff;
$font-color-correct: #0f0;
$font-color-error: #f00;
$font-color-error-add: #f0f;

// navigate
$navigate-width: 40px;

$transition-duration: 0.5s;

// word container
$element-border-radius: 3px;
// word input
$word-input-padding: 7px;
$word-bg-color: rgba(#25CEDE, 0.5);

$image-width: 280px;

@mixin font ($size, $height, $weight, $style: normal) {
  font-style: $style;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin flex($flex-direction: row, $align-items: center, $justify-content: center) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

.card-unit {
  padding: 20px 0;

  color: $font-color;

  background-color: transparent;

  @include font ($size: #{$font-size-main}, $height: 1, $weight: 500);

  @include flex();
}

.card-unit {

  .card__container {
    width: 750px;
  
    @include flex($align-items: stretch, $justify-content: space-between);
  
    .container-with-shadow {
      display: block;
      flex-grow: 1;
      margin: 0 15px;
    }
  }

  .card-content {
    width: 100%;
    height: 100%;
  
    @include flex($flex-direction: column, $align-items: center, $justify-content: space-between);
    background-color: transparent;
  }
  
  .help-content {
    width: 100%;
    padding-bottom: 20px;
  
    @include flex($align-items: flex-start, $justify-content: space-between);
  
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  
    user-select: none;
  }
  
  .help-content__image {
    position: relative;

    flex-shrink: 0;

    @include flex();

    width: $image-width;
    height: calc(#{$image-width} * 2 / 3);
  
    line-height: 0;
  
    overflow: hidden;
  
    border: none;
    border-radius: 5px;

    animation: fadeIn 0.4s linear;
  }

  @keyframes fadeIn {
  
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1
    }
  }

  .help-content__image p {
    line-height: 1;
    text-align: center;
  }

  .help-content__image img {
    width: 100%;
    height: auto;

    object-fit: fill;
    object-position: center;
  }

  .help-content__text {
    width: 100%;
    height: 21rem;

    margin: 0;
    padding: 0 15px 0 0;
  
    font-size: $font-size-main;

    list-style: none;

    overflow-y: scroll;

    &--max-height {
      height: 26rem;
      margin: 0 0 0 20px;
    }

    &--min-height {
      height: 16rem;
    }

    &--only-height {
      height: 5rem;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: $word-bg-color;
      border-radius: 2px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 2px;
    }
  }

  .help-content-text__item + .help-content-text__item {
    margin-top: 20px;
  }
  
  .text-item {
    margin: 0;
    padding: 0;
  
    line-height: 1.2;
    text-align: justify;

    &--translate {
      display: inherit;
      margin-top: 5px;
  
      font-size: $font-size-small;
      text-align: justify;
  
      opacity: 0.7;
  
      user-select: none;
    }

    &--hidden {
      display: none;
    }
  }

  .text--marked {
    display: inline-block;
    height: auto;
    padding: 0 $word-input-padding;
  
    background-color: $word-bg-color;
  
    border: none;
    border-radius: $element-border-radius;
  }

  .text--hidden {
    color: transparent;
    pointer-events: none;
    user-select: none;
  }
  
  .card-controls {
    width: 100%;
    height: 40px;
    margin: 10px 0;
  
    background-color: transparent;
  
    @include flex($justify-content: flex-end);
  }

  .card-controls__buttons {
    height: 100%;

    @include flex($justify-content: flex-end);
  }

  .card-controls__buttons + .card-controls__buttons {
    margin-left: auto;
  }

  .card-controls__audio-btn {
    position: relative;

    width: 4rem;
    height: 100%;
    margin-left: 10px;
    padding: 0;

    @include flex();

    .card-button {
      background: url("./audioComponent/audio-play-icon.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 3.4rem;
    }

    .donut {
      z-index: 1;

      width: 4rem;
      height: 4rem;
    
      border: 0.3rem solid transparent;
      border-top-color: #25CEDE;
    }
  }

  .learn-content {
    width: 100%;
    padding-top: 20px;
  
    @include flex();

    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .word__container {
  
    @include flex($flex-direction: column, $align-items: center, $justify-content: flex-start);
  }
  
  .word__wrapper {
    position: relative;
  
    display: inline-block;
  
    padding: $element-border-radius 0;
  
    font-size: $font-size-big;
    line-height: 1.2;
  
    background-color: $word-bg-color;
  
    border: none;
    border-radius: $element-border-radius;
  }
  
  .word__size {
    display: inline-block;
  
    visibility: hidden;
  
    padding: 0 $word-input-padding;
  
    background: transparent;
    opacity: 0;
  
    pointer-events: none;
    user-select: none;
    cursor: none;
  
    &--correct {
      visibility: visible;
      color: $font-color-correct;
      opacity: 1;
    }
  
    &--errorMax {
      visibility: visible;
      color: $font-color-error;
    }
  
    &--errorMidl {
      visibility: visible;
      color: $font-color-error-add;
    }
  
    &--visible {
      visibility: visible;
      opacity: 0.5;
      animation: error 2s linear;
    }
  }
  
  .word__size > span {
    display: inline-block;
  }
  
  @keyframes error {
  
    0% {
      opacity: 1;
    }
  
    5% {
      opacity: 1;
      transform: scale(1.2);
    }
  
    20% {
      opacity: 1;
      transform: none;
    }
  
    100% {
      opacity: 0.5
    }
  }
  
  .word__input {
    position: absolute;
    bottom: $element-border-radius;
    left: 0;
    z-index: 1;
  
    display: inline-block;
  
    width: 100%;
    height: calc(100% - 2 * #{$element-border-radius});
    padding: 0 $word-input-padding;
  
    font: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  
    background-color: transparent;
    border: none;
    border-radius: inherit;
  
    &:focus {
      outline: none;
    }
  }
  
  .card-button {
    font-size: $font-size-small;
  }
  
  .card-button + .card-button {
    margin-left: 10px;
  }
}
