@import '../../../styles/mixin.scss';

@import '../../../styles/variables.scss';

@mixin media-hover {

  @media (pointer: fine) { @content; }
}

$navigate-width: 4rem;
$navigate-width-tablet: 3rem;
$navigate-width-mobile: 2rem;
$btn-padding: 1rem;
$btn-padding-mobile: 0.5rem;
$transition-duration: 0.5s;

.card-unit {

  .navigate {
    width: $navigate-width;
    height: 100%;

    flex-shrink: 0;

    background-color: transparent;
  
    @media (max-width: 767px) {
      width: $navigate-width-tablet;
    }

    @media (max-width: 420px) {
      position: absolute;

      width: $navigate-width-mobile;
    }
  }

  #prev.navigate {

    @media (max-width: 420px) {
      left: -0.5rem;
    }
  }

  #next.navigate {

    @media (max-width: 420px) {
      right: -0.5rem;
    }
  }

  .navigate__btn {
    width: 100%;
    height: 100%;
  
    padding: 0;
  
    @include flex(row);
  
    background-color: transparent;
  
    border: none;
  
    transition: padding $transition-duration;
  
    cursor: pointer;
  
    &:focus {
      outline: none;
    }
  
    &:disabled {
      pointer-events: none;
      opacity: 0.1;
    }
  
    &--invisible {
      visibility: hidden;
      pointer-events: none;
    }
  
    .svg-icon {
      width: 100%;
      height: auto;
  
      fill: $main-color;
  
      pointer-events: none;
  
      transition: fill 0.2s linear;
    }
  }

  .next {
    justify-content: flex-end;
    padding-right: $btn-padding;

    @include media-hover {
  
      &:hover {
        padding-right: 0;
        padding-left: $btn-padding;
      }
  
      &:hover .svg-icon {
        fill: $hover-color;
      }
    }
  
    @media (max-width: 767px) {
      padding-right: 0;
      padding-left: 0.5rem;

      @include media-hover {

        &:hover {
          padding-left: 0.5rem;
        }
      }
    }
  }

  .prev {
    justify-content: flex-start;
    padding-left: $btn-padding;

    @include media-hover {

      &:hover {
        padding-right: $btn-padding;
        padding-left: 0;
      }

      &:hover .svg-icon {
        fill: $hover-color;
      }
    }

    @media (max-width: 767px) {
      padding-right: 0.5rem;
      padding-left: 0;

      @include media-hover {

        &:hover {
          padding-right: 0.5rem;
        }
      }
    }
  }

  .prev > .svg-icon {
    transform: rotate(180deg);
  }
}
