.dictionary {
  margin: 0 30px;
}

.tab-content tbody .row:hover {
  background-color: #676666;
}

.tab-pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#dictionary-save {
  margin: 30px auto;
}