.dictionary {
  margin: 0 30px;
}

.tab-content tbody .row:hover {
  background-color: #676666;
}

.tab-pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#dictionary-save {
  margin: 30px auto;
}

.dictionary-modal .header {
  text-align: center;
}

.dictionary-modal .modal-content {
  display: flex;
  height: 260px;
}

.modal-content .image {
  flex: 1 40% !important;
}

.modal-content .description {
  flex: 2 45% !important;
  color: black;
}

.modal-content .description .header {
  font-size: 24px;
}

.modal-content .description p {
  font-size: 18px;
}