@-webkit-keyframes card-animation {
  10% { transform: translateX(100px); }
  20% { transform: translateX(0); }
  30% { transform: translateX(-50px); }
  40% { transform: translateX(-75px); opacity: 1;}
  70% { transform: translateX(-100px); opacity: 0.5;}
  100% { transform: translateX(-125px); opacity: 0;}
}

@-moz-keyframes card-animation {
  10% { transform: translateX(100px); }
  20% { transform: translateX(0); }
  30% { transform: translateX(-50px); }
  40% { transform: translateX(-75px); opacity: 1;}
  70% { transform: translateX(-100px); opacity: 0.5;}
  100% { transform: translateX(-125px); opacity: 0;}
}

@keyframes card-animation {
  10% { transform: translateX(100px); }
  20% { transform: translateX(0); }
  30% { transform: translateX(-50px); }
  40% { transform: translateX(-75px); opacity: 1;}
  70% { transform: translateX(-100px); opacity: 0.5;}
  100% { transform: translateX(-125px); opacity: 0;}
}

.audiocall {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__main {
    &-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-progress {
      display: flex;
      align-items: center;

      font: inherit;
      font-size: 18px;
    }

    &-progress:last-child {
      margin-left: 30px;
    }
  }

  &__card {
    &--animated {
      animation: card-animation 1s linear;
    }

    &-loading {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 380px;
      margin: 0 auto;
    }
  }

  &__image ,
  &__voice {
    width: 100%;
    margin: 30px 0 60px;
  }

  &__text {
    display: flex;
    justify-content: center;

    font: inherit;
    font-size: 22px;
    line-height: 30px;

    &-word,
    &-transcription {
      margin-left: 5px;
    }
  }

  &__button {
    width: 100%;
    
    & .button {
      margin: 20px auto;
      padding: 15px 60px;
    }
  }
}