@import '../../styles/mixin.scss';

@import '../../styles/variables.scss';

$spinner-size: 100px;
$spinner-position: calc(50% - 50px);
$margin-end-sub-queue: 20px;

.home-block {

  &__card {
    width: 100%;

    @include flex(column, center, stretch);
  }

  &__end-sub-queue {
    
    @include flex(column, center, stretch);

    h2 {
      margin-bottom: $margin-end-sub-queue;
    }

    .button {
      width: fit-content;
      margin-bottom: $margin-end-sub-queue;
    }
  }
}

.main-game__end-game {
  flex-wrap: wrap;
  width: 100%;
  user-select: none;

  @include flex(row, center, center);

  &_button {
    margin-left: 30px;

    @include flex(row, center, center);

    @include size(fit-content, fit-content);
  }
}

.spinner {
  position: relative;
  top: 10%;
  left: $spinner-position;
  border-radius: 25%;
  transform: translate(-50%, -50%);
  animation: rotate-spinner 2s infinite linear;  

  @include size($spinner-size);
}

.spinner > span {
  position: absolute;
  display: block;
  background-color: $background-color;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 3px $enabled-color inset;  
  animation: rotate-span 2s infinite ease-in-out;

  @include size(40%);
}

.spinner > span::after {
  position: absolute;
  top: -50%;
  left: -50%;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 3px $enabled-color;
  animation: translate-span-after-before 3s infinite linear;
  content: "";

  @include size(10%);
}

.spinner > span::before {
  position: absolute;
  top: -50%;
  left: -50%;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 3px $enabled-color;
  animation: translate-span-after-before 3s infinite ;
  content: "";
  animation-delay: 1.5s;

  @include size(10%);
}

.spinner span:nth-child(1) {
    top: -2%;
    left: -2%;
}

.spinner span:nth-child(2) {
  top: -2%;
  right: -2%;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.spinner span:nth-child(3) {
  right: -2%;
  bottom: -2%;  
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.spinner span:nth-child(4) {
  bottom: -2%;
  left: -2%;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

@keyframes rotate-spinner {

  from {
    transform: rotate(0deg);
  }

  to {
      transform: rotate(-360deg);
  }          
}

@keyframes rotate-span {

  0% {
    transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }         
}

@keyframes translate-span-after-before {

  0% {
      transform: translate(0%);
  }

  25% {
      transform: translate(650%);
  }

  50% {
      transform: translate(650%, 650%);
  }

  75% {
      transform: translate(0%, 650%);
  }  
}

.home-block__card .home_progress_bar {
  position: relative;
  width: 50%;
  height: 30px;  
  margin: 20px auto;
  background-color: #2c2f33;
  border-radius: 25px;
  box-shadow: 6px 6px 18px black, -6px -6px 18px #3b4451;  
  transition: 3s;
}

.home-block__card .home_progress_bar .line_progress {    
  transition: 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  animation: line-progress 1.5s;
}

.home_progress_bar .total_words {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.8rem;
  transform: translate(-50%, -50%);
}

@keyframes line-progress {

  from {
    width: 0%;
    box-shadow: 0px 0px 40px 5px white;
  }
}

@media (max-width: 767px) {

  .spinner {
    top: $spinner-position;
    left: $spinner-position;
  }
}
